{% extends "encabezado.html" %}

{% block titulo %}Rentame - Nosotros{% endblock %}

{% block meta_descripcion %}Conoce la misión, visión y valores de Rentame, tu plataforma de renta de cabañas en Michoacán.{% endblock %}


{% block contenido %}

    <section class="seccion-generica">
        <div class="container">
            <h1 class="mb-4" style="color: var(--verde-bosque);">Quiénes somos</h1>
            <div class="row g-4">
                <div class="col-md-4">
                    <h5>Misión</h5>
                    <p>Conectar a viajeros con cabañas auténticas en los bosques de Michoacán, ofreciendo experiencias de descanso seguras y confiables.</p>
                </div>
                <div class="col-md-4">
                    <h5>Visión</h5>
                    <p>Ser la plataforma de referencia para la renta de cabañas en la región, reconocida por su calidad de servicio y su cuidado del entorno natural.</p>
                </div>
                <div class="col-md-4">
                    <h5>Valores</h5>
                    <ul>
                        <li>Confianza</li>
                        <li>Sustentabilidad</li>
                        <li>Atención cercana al cliente</li>
                        <li>Transparencia en cada reserva</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}